.featured-tiles-container {
    grid-template-columns: repeat(3, minmax(170px, 1fr));
    gap: 50px;
    
}

@media only screen and (max-width: 600px) {
    .featured-tiles-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    	gap: 30px;
    }
}