.featured-tiles-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 80px;
	margin: 5px 10px 20px 10px;
	align-items: center;
	justify-items: center;
}
.featured-tiles-container .featured-tile {
	aspect-ratio: 3/4.6;
	perspective: 1000px;
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
}
.featured-tiles-container .featured-tile .content {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(var(--primary-rgb), 0.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	transition: transform 1s;
	transform-style: preserve-3d;
}
.featured-tiles-container .featured-tile:hover .content {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}
.featured-tiles-container .featured-tile .front,
.featured-tiles-container .featured-tile .back {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	.topic-tile-thumbnail {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.featured-tiles-container .featured-tile .back {
	transform: rotateY(180deg);
	.topic-tile-thumbnail {
		filter: blur(2px);
		transform: rotateY(180deg);
	}
	a {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.topic-info {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(var(--secondary-rgb), 0.8);
	}
	.topic-title {
		color: var(--primary);
		font-size: var(--font-up-2);
		font-weight: 700;
		text-align: center;
		padding: 10px;
		overflow: hidden;
		word-wrap: break-word;
		margin: 0 10px;
		max-width: 100%;
	}
}
.featured-tiles-container .featured-tile .topic-info .author {
	display: none;
}
