<div class="content">
  <div class="front" data-tag-name={{topic.title}}>
  </div>
  <div class="back">
      <a href={{url}}>
        <div class="topic-info">
          <span class="topic-title">{{topic.title}}</span>
        </div>
      </a>
  </div>
</div>